@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BestMoment;
  src: url(/fonts/BestMoment.woff) format("woff"),
    url(/fonts/BestMoment.otf) format("otf"),
    url(/fonts/BestMoment.ttf) format("ttf");
}

@font-face {
  font-family: ChopinScript;
  src: url(/fonts/ChopinScript.woff) format("woff"),
    url(/fonts/ChopinScript.otf) format("otf"),
    url(/fonts/ChopinScript.ttf) format("ttf");
}

@font-face {
  font-family: SafiraMarch;
  src: url(/fonts/SafiraMarch.woff) format("woff"),
    url(/fonts/SafiraMarch.otf) format("otf"),
    url(/fonts/SafiraMarch.ttf) format("ttf");
}

@font-face {
  font-family: LibreBaskerville;
  src: url(/fonts/LibreBaskerville-Regular.woff) format("woff"),
    url(/fonts/LibreBaskerville-Regular.otf) format("otf"),
    url(/fonts/LibreBaskerville-Regular.ttf) format("ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "LibreBaskerville";
}
